:root {
  --color-primary: #fcc0c066;
  --color-secondary: #ed4a4a;
  --color-background: #ffffff;
  --color-text:#000;
  --color-icon: #ed4a4a;
  --shadow-dark: 0 2px 2px rgba(0,0,0,0.3); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-text);
  background-color: var(--color-background);
  background-size: cover;
  min-height: 100vh; }

.container {
  max-width: 144rem;
  margin: 8rem auto;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.04em; }

.text-menu {
  font-size: 1.4rem; }

.hero {
  height: 38.6rem;
  background-color: var(--color-primary);
  display: flex;
  position: relative; }
  .hero__img {
    width: 58.4rem;
    position: absolute;
    right: 4rem;
    top: 4rem; }
  .hero__title {
    position: absolute;
    top: 8rem;
    left: 5rem;
    line-height: 4rem; }
  .hero__description {
    position: absolute;
    top: 18rem;
    left: 5rem; }
  .hero__btn {
    position: absolute;
    top: 24rem;
    left: 5rem; }
  .hero__strawberry-1 {
    width: 17rem;
    position: absolute;
    top: 32rem;
    left: 24rem; }

h1 {
  font-size: 2.8rem;
  font-weight: 600; }

h2 {
  font-size: 2.4rem;
  font-weight: 600; }

p {
  font-size: 1.6rem; }

a {
  text-decoration-line: none;
  color: var(--color-text); }

.btn {
  font-family: inherit;
  letter-spacing: inherit;
  font-size: 1.2rem;
  text-decoration-line: none;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer; }

.btn-white {
  text-transform: uppercase;
  box-shadow: var(--shadow-dark);
  background-color: #fff; }
  .btn-white:focus {
    outline: none; }
  .btn-white:active {
    transform: translateY(2px); }

.btn-red {
  text-transform: uppercase;
  background: linear-gradient(180deg, #FA5959 0%, rgba(255, 107, 107, 0.85) 100%);
  box-shadow: var(--shadow-dark);
  color: var(--color-background); }
  .btn-red:hover {
    background-color: var(--color-icon); }
  .btn-red:focus {
    outline: none;
    animation: pulsate 2s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

i {
  font-size: 4rem;
  display: inline-block;
  background-color: var(--color-secondary);
  -webkit-background-clip: text;
  color: transparent; }

li {
  list-style: none; }

.header {
  height: 14vh;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0; }
  .header__logo {
    height: 4.6rem;
    width: 14.9rem;
    margin-left: 5rem;
    margin-bottom: 10px;
    align-items: center; }
  .header__sidebar {
    width: 60rem; }
    .header__sidebar--top {
      display: flex;
      justify-content: space-around;
      margin-left: 5rem; }
  .header__btn {
    margin-top: 0.2rem;
    margin-right: 6rem; }

.text-menu {
  display: inline-flex; }
  .text-menu-underline {
    position: relative;
    padding: 1rem 0 0.5rem;
    color: black;
    margin: 0 1.5rem;
    text-decoration: none; }
    .text-menu-underline::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%) scaleX(0);
      transform-origin: 50% 50%;
      width: 100%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.8);
      transition: transform 250ms; }
    .text-menu-underline:hover::after {
      transform: translateX(-50%) scaleX(1); }

.gallery {
  display: block;
  position: relative; }
  .gallery__title {
    padding-top: 10rem;
    text-align: center;
    margin-bottom: 6rem; }
  .gallery__blueberry {
    width: 8rem;
    position: absolute;
    top: 12rem;
    right: 15rem; }
  .gallery__group-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 6rem; }
  .gallery__nav {
    font-size: 1.4rem;
    margin-right: 1.25rem;
    border: 1px solid var(--color-secondary);
    background-color: #fff;
    padding: 6px 16px; }
    .gallery__nav:hover {
      background-image: linear-gradient(180deg, #FA5959 0%, rgba(255, 107, 107, 0.85) 100%);
      color: #fff;
      border: 1px solid #fff;
      transform: translateY(-0.3rem);
      -webkit-transform: translateY(-0.3rem);
      box-shadow: 0 4px 4px #fcd5d5; }
    .gallery__nav--demo {
      background-image: linear-gradient(180deg, #FA5959 0%, rgba(255, 107, 107, 0.85) 100%);
      border: 1px solid #fff;
      color: #fff; }
  .gallery__product {
    display: flex;
    justify-content: space-around;
    margin: 0 2rem; }
  .gallery__cart {
    width: 30rem;
    text-align: center;
    border-radius: 3px; }
  .gallery__pic {
    width: 30rem; }
  .gallery__title-2 {
    padding-top: 6rem;
    font-size: 1.4rem;
    text-transform: uppercase; }
  .gallery__description {
    padding-top: 1.25rem;
    padding-bottom: 2rem; }
  .gallery__price {
    font-size: 30px;
    padding: 2rem 0 2.5rem 0; }
  .gallery__btn {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    width: auto;
    margin: 5rem auto; }

.features {
  position: relative;
  margin-top: 10rem; }
  .features__raspberry {
    position: absolute;
    width: 10rem;
    right: 30rem; }
  .features__about {
    height: 30rem;
    margin-bottom: 5rem;
    display: flex;
    align-items: center; }
    .features__about--pic {
      width: 24rem;
      height: 24rem;
      border-radius: 50%;
      margin: 0 5rem; }
    .features__about--heading {
      margin-bottom: 4rem; }
    .features__about--me {
      padding-right: 5rem; }
  .features__blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5rem; }
    .features__blocks--cart {
      width: 20rem;
      height: 26rem;
      padding: 5rem 3rem 5rem 3rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .features__blocks--cart:hover {
        border: 3px solid rgba(252, 192, 192, 0.4);
        border-radius: 10px; }
      .features__blocks--cart-icon {
        width: 4rem;
        height: 4rem;
        fill: var(--color-secondary); }
      .features__blocks--cart-text {
        text-align: center;
        padding-top: 3rem; }
  .features__blueberry {
    width: 14rem;
    position: absolute;
    top: 60rem;
    left: -5rem; }

.portfolio {
  margin: 12rem 0;
  position: relative; }
  .portfolio__strawberry {
    width: 14rem;
    position: absolute;
    top: 60rem;
    right: 0.1rem; }
  .portfolio__heading {
    text-align: center;
    margin-bottom: 7rem; }
  .portfolio__projects {
    display: grid;
    grid-template-columns: 5rem repeat(5, 1fr) 5rem;
    grid-template-rows: repeat(2, 200px) 10rem;
    grid-gap: 2rem;
    padding: auto; }
    .portfolio__projects--project-1 {
      grid-column: 2 / span 2;
      grid-row: 1 / span 2; }
    .portfolio__projects--project-2 {
      grid-column: 4 / 5;
      grid-row: 1 / 2; }
    .portfolio__projects--project-3 {
      grid-column: 5 / 6;
      grid-row: 1 / 2; }
    .portfolio__projects--project-4 {
      grid-column: 6 / 7;
      grid-row: 1 / 2; }
    .portfolio__projects--project-5 {
      grid-column: 4 / 5;
      grid-row: 2 / 3; }
    .portfolio__projects--project-6 {
      grid-column: 5 / 6;
      grid-row: 2 / 3; }
    .portfolio__projects--project-7 {
      grid-column: 6 / 7;
      grid-row: 2 / 3; }
    .portfolio__projects--button {
      grid-column: 4 / 5;
      grid-row: 3 / 4;
      display: flex;
      justify-content: center;
      align-items: flex-end; }
    .portfolio__projects--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      position: absolute; }

.image-container {
  position: relative;
  margin: 10px;
  cursor: pointer; }

.image-caption {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  opacity: 0;
  height: auto;
  bottom: 0;
  padding: 10px 0;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out; }

.image-caption p {
  text-align: center;
  font-family: inherit;
  padding: 5px;
  color: #fff;
  font-size: 1rem; }

.image-container:hover .image-caption {
  opacity: 1; }

.shipping__heading {
  text-align: center;
  margin-bottom: 7rem; }

.shipping__terms {
  display: flex;
  justify-content: center;
  column-gap: 6rem;
  padding-bottom: 5rem; }
  .shipping__terms--delivery {
    width: 52rem;
    height: 15rem;
    padding: 5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    column-gap: 5rem;
    background-color: rgba(237, 74, 74, 0.1); }

.shipping__terms--2 {
  text-align: center; }

.shipping .shipping__icons {
  width: 4rem;
  height: 4rem;
  fill: var(--color-secondary); }

.reviews {
  margin-top: 10rem;
  position: relative; }
  .reviews__heading {
    text-align: center;
    margin-bottom: 7rem; }
  .reviews__clients {
    display: flex;
    justify-content: space-around;
    margin: 0 10rem; }
    .reviews__clients--client {
      width: 28rem;
      height: 44rem;
      border: 3px solid rgba(237, 74, 74, 0.1);
      border-radius: 5px;
      padding: 2.5rem; }
      .reviews__clients--client-pic {
        width: 12rem;
        margin: 1.5rem 0; }
      .reviews__clients--client-name {
        margin: 0.5rem 0 2rem 0; }
  .reviews__cta {
    height: 15rem;
    display: block; }
    .reviews__cta--heading {
      margin-top: 15rem;
      text-align: center; }
    .reviews__cta--description {
      text-align: center;
      margin-top: 2rem; }
  .reviews__btn {
    width: auto;
    margin: 0 auto 10rem auto;
    box-shadow: var(--shadow-dark);
    background-color: var(--color-icon);
    color: var(--color-background);
    padding: 1.5rem 2rem;
    display: flex;
    text-transform: uppercase; }
  .reviews__strawberry {
    position: absolute;
    width: 17rem;
    top: 70rem;
    left: 5rem; }

.contacts {
  position: relative;
  width: auto;
  height: 50rem;
  background: linear-gradient(0deg, #ffe5e5, #ffe5e5 95%, rgba(255, 229, 229, 0) 100%);
  -webkit-gradient: linear, left bottom, left top, from(#ffe5e5), color-stop(95%, #ffe5e5), to(rgba(255, 229, 229, 0));
  display: flex; }
  .contacts__cup {
    width: 50rem;
    position: absolute;
    right: 8rem; }
  .contacts__berry--1 {
    position: absolute;
    width: 22rem;
    top: 25rem;
    left: 40rem; }
  .contacts__berry--2 {
    position: absolute;
    width: 14rem;
    transform: rotate(260deg);
    top: 10rem;
    right: 1rem; }
  .contacts__berry--3 {
    position: absolute;
    width: 10rem;
    top: 3rem;
    left: 4.5rem; }
  .contacts__heading {
    text-align: start;
    padding-bottom: 5rem; }
  .contacts__adress {
    display: flex;
    background: #FFFFFF;
    border-radius: 20px;
    flex-direction: column;
    justify-items: start;
    justify-content: start;
    justify-items: center;
    width: 90rem;
    margin: auto;
    padding: 5rem 0 5rem 5rem; }
    .contacts__adress--block {
      display: flex;
      align-items: center;
      justify-items: start; }
      .contacts__adress--block-icon {
        font-size: 2.5rem;
        padding-bottom: 1.5rem; }
      .contacts__adress--block-text {
        padding-left: 1rem;
        padding-bottom: 1.5rem; }
  .contacts__btn {
    display: flex;
    align-self: baseline;
    margin-top: 3.5rem;
    box-shadow: var(--shadow-dark);
    background-color: var(--color-icon);
    color: var(--color-background);
    text-transform: uppercase; }

.footer {
  display: grid;
  grid-template-columns: 7.5rem repeat(4, 1fr) 7.5rem; }
  .footer__logo {
    grid-column: 2 / 3;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer__text--1 {
    grid-column: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer__text--2 {
    grid-column: 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer__text--3 {
    grid-column: 5 / 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer__icons {
    font-size: 2rem;
    margin: 0.5rem; }
  .footer__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem; }

.copyright {
  text-align: center;
  color: #ED4A4A;
  border-top: 2px solid white;
  padding: 1.5rem 0;
  font-size: 1.4rem; }
