/////////////////////////
/// LOGO
.logo {
    height: 4.9rem;
    width: 14.9rem;
    margin-left: 10rem;
    align-items: center;
    margin-bottom: 10px;
}

/////////////////////////
/// SIDEBARS

.sidebar {
    width: 80rem;

    &__top {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

}

/////////////////////////
/// BOTTONS
.btn {
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: inherit;

    padding: 12px 30px;
    border-radius: 25px;
    margin-right: 10rem;
    border: none;
}