
.contacts {
    position: relative;

    width: auto;
    height: 65rem;
    background: linear-gradient(0deg, rgb(255, 229, 229), rgb(255, 229, 229) 95%, rgba(255,229,229,0) 100%);
    -webkit-gradient: (linear, left bottom, left top, from(rgb(255, 229, 229)), color-stop(95%, rgb(255, 229, 229)), to(rgba(255,229,229,0)));
    
    display: flex;

  

    &__cup { 
        width: 65rem;

        position: absolute;
        top: 4rem;
        right: 2rem;

        @media only screen and (max-width: $bp-medium) {
            z-index: -2;

        }

        @media only screen and (max-width: $bp-small) {
            z-index: -2;
        }
    }

    &__berry--1 {
        position: absolute;
        width: 24rem;
        top: 35rem;
        left: 65rem;

        @media only screen and (max-width: $bp-medium) {
            top: 35rem;
            left: 34rem;
        }

        @media only screen and (max-width: $bp-small) {
            width: 20rem;
            top: 35rem;
            left: 20rem;
        }
    }

    &__berry--2 {
        position: absolute;

        width: 14rem;
        transform: rotate(260deg);

        top: -5rem;
        right: 1.2rem;

        @media only screen and (max-width: $bp-medium) {
            top: 14rem;
            right: 6rem;
        }

        @media only screen and (max-width: $bp-small) {
            width: 12rem;
            top: 14rem;
            right: 6rem;
        }

    }

    &__berry--3 {
        position: absolute;

        width: 12rem;

        top: 50rem;
        right: 51rem;

        @media only screen and (max-width: $bp-large) {
            top: 50rem;
            left: 35rem;
        }

        @media only screen and (max-width: $bp-medium) {
            top: 2rem;
            left: 10rem;
        }

        @media only screen and (max-width: $bp-small) {
            width: 8rem;
            top: 2rem;
            left: 10rem;
        }

    }

    &__heading {
        text-align: start;
        padding-bottom: 5rem;

        @media only screen and (max-width: $bp-small) {
            text-align: center;
        }
    }

    &__adress {
        display: flex;
        background: #FFF;
        border-radius: 20px;
        flex-direction: column;
        justify-items: start;
        justify-content: start;
        justify-items: center;

        width: 110rem;
        height: 45rem;
        margin: 88px 30px 0px 30px;
        padding: 5rem 0 5rem 5rem;

        @media only screen and (min-width: $bp-largest) {
            width: 140rem;
        }

        @media only screen and (min-width: $bp-large) {
            width: 130rem;
        }



        &--block {
            display: flex;
            align-items: center;
            justify-items: start;
            padding-bottom: 1.2rem;

            

            @media only screen and (max-width: $bp-small) {
                justify-items: center;
            }

            &-icon {
                width: 4rem;
                height: 4rem;
                fill: var(--color-secondary);

                @media only screen and (max-width: $bp-medium) {
                    width: 3rem;
                    height: 3rem;
                }
            }

            &-text {
                padding-top: 0.5rem;
                padding-left: 1.5rem;
                padding-bottom: 1.5rem;
            }
        }
    }

    &__btn {
        display: flex;
        align-self: baseline;
        margin-top: 3.5rem;
    }
}

