
.copyright {
    text-align: center;
    color: var( --color-secondary);
    background-color: var(--color-primary);
    border-top: 2px solid var(--color-background);
    padding: 1.5rem 0;
    font-size: 1.4rem;

    @media only screen and (max-width: $bp-medium) {
        font-size: 1.2rem;
    }

    @media only screen and (max-width: $bp-small-2) {
        width: fit-content; 
        padding: 0 5px;
    }

    &__link {
        text-decoration-line: underline;
        color: var( --color-secondary);
    }
}