.gallery {
    display: block;

    position: relative;

    &__title {
        padding-top: 10rem;
        text-align: center;
        margin-bottom: 6rem;


        @media only screen and (max-width: $bp-small) {
            padding-top: 8rem;
        }
    }

    &__blueberry {
        width: 8rem;

        position: absolute;
        top: 12rem;
        right: 15rem;

        @media only screen and (min-width: $bp-largest) {
            width: 10rem;
        }

        @media only screen and (max-width: $bp-medium) {
            width: 9rem;
            top: 10rem;
        }

        @media only screen and (max-width: $bp-small) {
            top: 6rem;
            right: 6rem;
        }

        @media only screen and (max-width: $bp-small-2) {
            width: 0;
        }
    }

    &__group-nav {
        display: flex;
        justify-content: center;
        margin-bottom: 6rem;

        @media only screen and (max-width: $bp-small-2) {
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
        }
    }

    &__nav {
        font-size: 1.4rem;
        margin-right: 1.25rem;
        border: 1px solid var(--color-secondary);
        background-color: #fff;
        padding: 6px 16px;

        @media only screen and (min-width: $bp-largest) {
            font-size: 1.6rem;
        }

        @media only screen and (max-width: $bp-medium) {
            font-size: 1.6rem;
        }

        @media only screen and (max-width: $bp-small-2) {
            padding: 5px;
            margin: 5px 0;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 20rem;
        }

        &:hover {
            background-image: linear-gradient(180deg, #FA5959 0%, rgba(255, 107, 107, 0.85) 100%);
            color: #fff;
            border: 1px solid #fff;

            transform: translateY(-0.3rem);
            -webkit-transform: translateY(-0.3rem);
            box-shadow: 0 4px 4px rgba(252, 213, 213, 60%);
        }

        &--demo {
            background-image: linear-gradient(180deg, #FA5959 0%, rgba(255, 107, 107, 0.85) 100%);
            border: 1px solid #fff;
            color: #fff;
        }

    }

    &__product {
        display: flex;
        justify-content: space-around;
        margin: 0 2rem;

        @media only screen and (max-width: $bp-medium) {
            flex-direction: column;
        }

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
        }
    }

    &__cart {
        width: 30rem;
        text-align: center;  
        border-radius: 3px;

        @media only screen and (min-width: $bp-largest) {
            width: 50rem;
        }

        @media only screen and (max-width: $bp-medium) {
            width: auto;
        }

        @media only screen and (max-width: $bp-small) {
            width: auto;
        }
    }

    &__pic {
        width: 30rem;

        @media only screen and (min-width: $bp-largest) {
            width: 42rem;
        }

        @media only screen and (max-width: $bp-medium) {
            width: 56rem;
        }

        @media only screen and (max-width: $bp-small) {
            width: 38rem;
        }

        @media only screen and (max-width: $bp-small-2) {
            width: -webkit-fill-available;
        }
    }

    &__title-2 {
        padding-top: 6rem;
        text-transform: uppercase;
    }

    &__description {
        padding-top: 1.25rem;
        padding-bottom: 2rem;
        

        @media only screen and (max-width: $bp-small-2) {
            width: fit-content;
        }
    }

    &__price {
        padding: 2rem 0 2.5rem 0;
        font-weight: 600;

    }


    &__btn {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        
        width: auto;
        margin: 5rem auto;
    }

}

