.gallery {
    display: block;

    position: relative;

    &__title {
        padding-top: 10rem;
        text-align: center;
        margin-bottom: 6rem;
    }

    &__blueberry {
        width: 8rem;

        position: absolute;
        top: 12rem;
        right: 15rem;
    }

    &__group-nav {
        display: flex;
        justify-content: center;
        margin-bottom: 6rem;
    }

    &__nav {
        font-size: 1.4rem;
        margin-right: 1.25rem;
        border: 1px solid var(--color-secondary);
        background-color: #fff;
        padding: 6px 16px;

        &:hover {
            background-image: linear-gradient(180deg, #FA5959 0%, rgba(255, 107, 107, 0.85) 100%);
            color: #fff;
            border: 1px solid #fff;

            transform: translateY(-0.3rem);
            -webkit-transform: translateY(-0.3rem);
            box-shadow: 0 4px 4px rgba(252, 213, 213, 60%);
        }

        &--demo {
            background-image: linear-gradient(180deg, #FA5959 0%, rgba(255, 107, 107, 0.85) 100%);
            border: 1px solid #fff;
            color: #fff;
        }

    }

    &__product {
        display: flex;
        justify-content: space-around;
        margin: 0 2rem;
    }

    &__cart {
        width: 30rem;
        text-align: center;  
        border-radius: 3px;
    }

    &__pic {
        width: 30rem;
    }

    &__title-2 {
        padding-top: 6rem;
        font-size: 1.6rem;
        text-transform: uppercase;
    }

    &__description {
        padding-top: 1.25rem;
        padding-bottom: 2rem;
    }

    &__price {
        font-size: 30px;
        padding: 2rem 0 2.5rem 0;
    }


    &__btn {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        
        width: auto;
        margin: 5rem auto;
    }

}

