.hero {

    height: 38.6rem; 
    background-color: var(--color-primary);
    display: flex;

    position: relative;


    @media only screen and (max-width: $bp-medium) {
        overflow: hidden;

        display: grid;
        grid-template-columns: 5rem (minmax(50vw, min-content) 30vw); 
        grid-template-rows: repeat(5, min-content);
        grid-gap: 1rem;
    }

    @media only screen and (max-width: $bp-small) {
        overflow: hidden;

        height: 45rem;
    }
    
    
    &__img {
        width: 58.4rem;
        height: auto;
        display: block;
        
        position: absolute;
        right: 4rem;
        top: 4rem;

        @media only screen and (min-width: $bp-largest) {
            width: 62rem;
            height: auto;
            top: 1.8rem;
        }
        
        @media only screen and (max-width: $bp-medium) {
            position: inherit;
            grid-column: 3 / 4;
            grid-row: 1 / 6;
            
        }

        @media only screen and (max-width: $bp-small) {
            width: 0;
        }
       
    }

    &__title {
        position: absolute;
        top: 8rem;
        left: 5rem;
        line-height: 4rem;

        @media only screen and (min-width: $bp-largest) {
            left: 10rem;
            line-height: 5rem;
        }

        @media only screen and (max-width: $bp-medium) {
            grid-columns: 2 / 3;  
            grid-rows: 1 / 2;
            line-height: normal;
        }

        @media only screen and (max-width: $bp-small-2) {
            display: flex;
            width: fit-content;
        }
    }

    &__description {
        position: absolute;
        top: 18rem;
        left: 5rem;

        @media only screen and (min-width: $bp-largest) {
            left: 10rem;
            margin-top: 2rem;
        }

        @media only screen and (max-width: $bp-medium) {
            grid-columns: 2 / 3;  
            grid-rows: 2 / 3;
        }

        @media only screen and (max-width: $bp-small-2) {
            display: flex;
            width: fit-content;
        }

    }

    &__btn {
        position: absolute;
        top: 24rem;
        left: 5rem;

        @media only screen and (min-width: $bp-largest) {
            left: 10rem;
            margin-top: 2rem;
        }

        @media only screen and (max-width: $bp-medium) {
            grid-columns: 2 / 3;  
            grid-rows: 3 / 4;
        }
    }
            
    &__strawberry-1 {
        width: 17rem;

        position: absolute;
        top: 32rem;
        left: 24rem;

        @media only screen and (min-width: $bp-largest) {
            width: 20rem;
            left: 38rem;
        }

        @media only screen and (max-width: $bp-medium) {
            width: 14rem;

            position: absolute;
            top: 24rem;
            left: 22rem;
        }

        @media only screen and (max-width: $bp-small) {
            width: 18rem;
            top: 30rem;
            left: 31rem;
        }

        @media only screen and (max-width: $bp-small-2) {
            width: 10rem;
            top: 35rem;
            left: 16rem;
        }
    }
    
}