.portfolio {
    margin: 12rem 0;


    &__heading {
        text-align: center;
        margin-bottom: 7rem;
    }

    &__projects {

        display: grid;
        //background-color: orangered;

        grid-template-columns: 5rem repeat(5, 1fr) 5rem;
        grid-template-rows: repeat(2, 200px);
        grid-gap: 2rem;

        padding: auto;

        &--item-1 {
            grid-column: 2 / span 2;
            grid-row: 1 / span 2;
            
            position: relative;

        }

        &--1-desc {
            width: inherit;
            position: absolute;
            top: 36rem;
            background-color: #303030;
            color: var(--color-background);
            padding: 5px 0;
            text-align: center;
            
            opacity: 0;
        }

        &--item-1:hover
        &--1-desc {
            visibility: visible;
            opacity: 1;
            z-index: 2;
        }


        &--item-2 {
            grid-column: 4 / 5;
            grid-row: 1 / 2;
        }

        &--item-3 {
            grid-column: 5 / 6;
            grid-row: 1 / 2;
        }

        &--item-4 {
            grid-column: 6 / 7;
            grid-row: 1 / 2;
        }

        &--item-5 {
            grid-column: 4 / 5;
            grid-row: 2 / 3;
        }

        &--item-6 {
            grid-column: 5 / 6;
            grid-row: 2 / 3;
        }

        &--item-7 {
            grid-column: 6 / 7;
            grid-row: 2 / 3;
        }

        &--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            

            
        }

    }

    &__btn {
        
        width: auto;
        margin: 10rem auto 10rem auto;
        box-shadow: var(--shadow-dark);
        background-color: var(--color-icon);
        color: var(--color-background);

        display: flex;

        text-transform: uppercase;
    }
}