.reviews {
    margin-top: 10rem;

    position: relative;

    @media only screen and (max-width: $bp-medium) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        

    }

    &__heading {
        text-align: center;
        margin-bottom: 5rem;

        @media only screen and (min-width: $bp-largest) {
            margin-top: 8rem;
        }

        @media only screen and (max-width: $bp-small) {
            margin: 1rem;
        }
    }

    &__heading--2 {
        text-align: center;
        margin-bottom: 5rem;
        margin-top: 8rem;
        
        @media only screen and (min-width: $bp-largest) {
            margin-top: 14rem;
        }

        @media only screen and (max-width: $bp-medium) {
            margin-top: 0;
        }

        }

    &__clients {

        display: flex;
        justify-content: space-around;

        @media only screen and (max-width: $bp-medium) {
            flex-direction: column;
            margin-top: auto;
            margin-right: 0;
        }

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            margin-top: auto;
            margin-right: 0;
        }

        &--client {
            width: 28rem;
            height: 44rem;
            border: 3px solid var(--color-background);
            border-radius: 5px;

            padding: 2.5rem;

            @media only screen and (min-width: $bp-largest) {
                width: 37rem;
                
            }

            @media only screen and (max-width: $bp-medium) {
                width: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 2.5rem 5rem;
            }

            @media only screen and (max-width: $bp-small) {
                width: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 2.5rem 5rem;
            }

            &-pic {
                width: 12rem;
                margin: 1.5rem 0;

                @media only screen and (min-width: $bp-largest) {
                    width: 19rem;
                }

                @media only screen and (max-width: $bp-small) {
                    width: 16rem;
                }

                }
    
            &-name {
                 margin: 0.5rem 0 2rem 0;

              
            }

        }   

    }

    &__cta {
        height: 15rem;
        display: block;

        &--description {
            
            margin-top: 2rem;
            text-align: center;

        }
    }

    &__btn {
        display: flex;
        margin: 20rem auto 10rem auto;

        @media only screen and (min-width: $bp-largest) {
            margin: 11rem auto 10rem auto;
        }

        @media only screen and (max-width: $bp-large) {
            margin: 11rem auto 10rem auto;
        }

       

    }

    &__strawberry {
        position: absolute;
        width: 20rem;
        top: 46rem;
        left: 5rem;

        @media only screen and (min-width: $bp-largest) {
            top: 58rem;
        }

        @media only screen and (max-width: $bp-large) {
            width: 17rem;
            top: 58rem;
        }

        @media only screen and (max-width: $bp-medium) {
            top: 130rem;
        }

        @media only screen and (max-width: $bp-small) {
            max-width: 11rem;
            top: 133rem;
            left: 8rem;
        }

        @media only screen and (max-width: $bp-small-2) {
            width: 0;
        }

    }


}