.shipping {

    &__heading {
        text-align: center;
        margin-bottom: 7rem;

        @media only screen and (max-width: $bp-medium) {
            margin-top: 14rem;
        }

        @media only screen and (max-width: $bp-small) {
            margin-top: 14rem;
        }
    }

    &__terms {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 6rem;

        padding-bottom: 5rem;

        @media only screen and (max-width: $bp-medium) {
            flex-direction: column;
            gap: 2rem;
            align-items: center;
        }

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            gap: 2rem;
            align-items: center;
        }

        
        &--delivery {

            width: auto;
            height: 15rem;
            padding: 5rem;
            border-radius: 10px;

            display: flex;
            align-items: center;
            column-gap: 5rem;

            background-color: rgba(237, 74, 74, 0.1);

            @media only screen and (max-width: $bp-medium) {
                width: auto;
                margin: 0 20px;
            }
        }
    }
    &__terms--2 {
        text-align: center;

        @media only screen and (max-width: $bp-small) {
            margin-bottom: 9rem;
        }

    }

    .shipping__icons {
        width: 4rem;
        height: 4rem;
        fill: var(--color-secondary);

      
    }
}

