h1 {
    font-size: 3.6rem;
    font-weight: 500;
}

.btn {
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: inherit;
    font-size: 1.8rem;

    padding: 11px 31px;
    border-radius: 25px;
    margin-right: 12rem;
    border: none;
}