h1 {
    font-size: 2.8rem;
    font-weight: 600;
}

h2 {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 7rem;

}

p {
    font-size: 1.4rem;
    padding-bottom: 1rem;
}

a {
    text-decoration-line: none;
    color: var(--color-text);
}

.btn {
    font-family: inherit;
    letter-spacing: inherit;
    font-size: 1.2rem;
    text-decoration-line: none;

    padding: 10px 20px;
    border-radius: 25px;

    border: none;
    cursor: pointer;
    
}

